.container {
    display: flex;
    align-items: center;
}

.Header {
    text-align: center;
    color: #aecef3;
}
    
body {
    background-color: #2b333f !important;
}   

span {
    color: white;
}

.container-text {
    width: 30%;
    margin-left: 5%;
}