.container {
    display: flex;
    align-items: center;
    /* scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory; */
}

html {
    scroll-snap-type: y mandatory;
}

.Header {
    text-align: center;
    color: #000000;
    font-size: 40px;
}
    
.page-1 {
    /* background-color: #2b333f !important; */
    /* background-image: linear-gradient(140deg, #00000000 0%, #360326 50%, #2f302ec9 75%) !important;
    background-attachment: fixed; */
}   

span {
    color: white;
}

.container-text {
    border-radius: 25px;
    font-size: 30px;
    display: flex;
}

.align-right {
    margin-right: 5%;
    padding-left: 12px;
}

.align-left {
    margin-left: 5%;
}

.roudify {
    border-radius: 25px;
}

.background-color-blue {
    background-color: #8bc1ffab;
}

.background-color-green {
    background-color: #76ffbbab;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.c-text {
    color: #3f4c5c;
}

.c-text-white {
    color: #000000;
}

.background-color-grey {
    background-color: #afafaf;
}

.rotate {
    animation: rotation 3s infinite linear;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}